# Core scientific stack & Data
numpy>=1.26,<3
scipy>=1.11,<2
pandas>=2.2,<3
openpyxl>=3.1

# Machine Learning & Deep Learning
scikit-learn>=1.4,<2
torch>=2.5.1
mrmr-selection>=0.2.8

# Signal Processing
mne>=1.7,<2

# Web Dashboard
streamlit>=1.30

# Visualization
matplotlib>=3.8,<4
seaborn>=0.13,<1

# Utilities
tqdm>=4.66,<5
